
body {
  background-image: url('../Site\ Pós\ login/background.png') ;
  font-family: sans-serif;
}

/* Estilos do cabeçalho
header {
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 2em;
}

/* Estilos do formulário */
/* form {
  background-color: #9292927c;
  padding: 40px;
  margin: 80px;
  border-radius: 20px;
  width: 50%; 
  display: block;
  margin: 0 auto;
}

label {
  margin-bottom: 10px;
  display: block;
  margin-top: 10px;
  margin-top: 10px;
  text-align: center;
}

input[type=text], input[type=date], input[type=time], input[type=email], input[type=tel], textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  display: block;
  margin: 0 auto;
}

input[type=submit] {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 30%;
  margin-top: 20px;
} 

select{ 
  width: 51.5%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  display: block;
  margin: 0 auto;
}  */

 */
