
body {
  background-color: #000;
  font-family: sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* Estilos do cabeçalho */
header {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 2em;
}

/* Estilos do formulário */
form {
  background-color: #ecb500;
  padding: 50px;
  margin: 20px;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type=text], input[type=date], input[type=time], select, textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
}

input[type=submit] {
  background-color: #ffffff;
  color: #000;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
